#introtext{
text-align: left;
}


#datoloop{
  text-align: left;
  height: 350px;
  background-image: url("/images/mathilde-langevin-QZ-6VZvh44Q-unsplash.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
}

h4{
  font-size: 20px;
  font-weight: bold;
}
