.navbar{
    color: #373535;
    font-size: 40px;
    margin:0;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: white;

}

nav li {
   display: inline-block;
   padding: 5px 5px;
}

nav a {
  font-weight: normal;
  padding: 10px 5px;
  font-size: .80em;
}
