body {
  text-align: center;
  color: #333;
  font-family: 'NowRegular''Zilla Slab', serif;
  background-color: white;
}

p{
  font-size: 18px;
}

#shoplink{
  background-image: url('');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 300px;
  font-size: 10vh;
}
