
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <h4>
        <strong>Site Designed</strong> by <a href="">JoshuaWoodsdev</a>.<br>@LaboratórioCBD @2021.
      </h4>
    </div>
  </div>
</footer>
