<section class="section">
    <div class="container">
      <h1 class="title is-primary" id="title1">
      Laboratório CBD
      </h1>
    </div>
  </section>

  <section class="hero is-fullheight" id="hero1">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
      </h1>
      <h2 class="subtitle">
      </h2>
    </div>
      <section class="hero is-white is-small" id="hero2">
      <div class="hero-body">
      <div class="container"></div>
      <h2>Discover a world of CBD</h2>
      </div>
      </section>
  </div>
</section>
