<section class="hero is-primary is-bold is-large" id="heromain">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-primary is-1 " id="title1">
        Laboratório CBD
      </h1>
    </div>
  </div>
</section>
