<!--gives space-->
<div class="container is-widescreen">
  <div class="notification">

  </div>
</div>

<div class="container is-widescreen" id="introtext">
  <div class="notification is-white">

    <p>Laboratório CBD is a unique, honest and innovative company that can be trusted to bring to you the most high quality CBD dietary supplements.
      Our featured line of products has grown to include supplements, sports medicine, beauty & skin care, pet
    supplements and more We love to educate people and answer questions. We believe CBD is NOT a one size fits all.
    Each person is different and should be listened to so they can be helped accordingly.
     Laboratório CBD continues to grow, shipping products
    to customers worldwide and receiving countless praise from customers who have said their
    lives have become more healthy since including Laboratório CBD supplements as a part of their daily lifestyle.</p>

  </div>
</div>

<div class="tile is-parent">
      <article class="tile is-child notification is-danger" id="datoloop">
        <p class="title">Wide tile</p>
        <p class="subtitle">Aligned with the right tile</p>
        <div class="content">
          <!-- Content -->
        </div>
      </article>
    </div>
    <!--gives space-->
    <div class="container is-widescreen">
      <div class="notification">
      </div>
    </div>
