<!--gives space-->
<div class="container is-widescreen is-white">
  <div class="notification"></div>
</div>

<div class="container is-widescreen is-white" id="introtext">
  <div class="notification is-white">

    <h4>Laboratório CBD is a unique, honest and innovative company that can be trusted to bring to you the most high quality CBD dietary supplements. Our featured line of products has grown to include supplements, sports medicine, beauty & skin care, pet
      supplements and more We love to educate people and answer questions. We believe CBD is NOT a one size fits all. Each person is different and should be listened to so they can be helped accordingly. Laboratório CBD continues to grow, shipping products
      to customers worldwide and receiving countless praise from customers who have said their lives have become more healthy since including Laboratório CBD supplements as a part of their daily lifestyle.</h4>

  </div>
</div>

<div class="tile is-parent  is-primary is-bold">
  <article class="tile is-child notification is-primary is-bold" id="datoloop">
    <p class="title">Content</p>
    <p class="subtitle"></p>
    <div class="content">

      <div class="columns">
        <div class="column">
          First column
        </div>
        <div class="column">
          Second column
        </div>
        <div class="column">
          Third column
        </div>
        <div class="column">
          Fourth column
        </div>
      </div>
    </div>
  </article>
</div>
<!--gives space-->
